
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualitySouvenir</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </environment>

    <style type="text/css">
        li.nav-item:hover {
            border: 1px solid #818182;
            border-radius: 5px;
        }

        li.nav-item {
            border: 1px solid transparent;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand align-item-center"><i class="fa fa-gift ml-3" style="font-size:50px;"></i></a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand align-item-center"><img src="~/images/main/title.png" class="img-fluid" style="height:75px;" /></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="mr-auto navbar-nav ml-1">
                <li class="nav-item ml-3">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home mr-2"></i>Home</a>
                </li>
                <li class="nav-item ml-3 dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-gift mr-2"></i>Products</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Products" asp-action="Index">
                            All Souvenirs
                        </a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Products" asp-route-categoryId=1>
                            Maori Gifts
                        </a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Products" asp-route-categoryId=2>
                            Mugs
                        </a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Products" asp-route-categoryId=3>
                            T-Shirts
                        </a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Products" asp-route-categoryId=4>
                            Home & Living
                        </a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Index">
                            More...
                        </a>
                    </div>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About"><i class="fas fa-smile-wink mr-2"></i>About</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-phone mr-2"></i>Contact us</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item ml-3 dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle mr-2"></i>Administrator</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Souvenirs" asp-action="Index">Souvenir</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">Supplier</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                            <a class="dropdown-item" asp-area="" asp-controller="AdminApplicationUsers" asp-action="Index">Members</a>
                        </div>
                    </li>
                }

                <li class="nav-item ml-3 dropdown">
                    @if (!User.IsInRole("Admin"))
                    {@await Component.InvokeAsync("ShoppingCartViewModel")
                }

                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>

    @*body*@
    <div class="container-fuild body-content">
        @RenderBody()
        <footer class="bg-light" style="margin:20px -15px -15px -15px;">
            <hr />
            <div class="container">
                <div class="row text-muted">
                    <div class="col-md-3">
                        <h5>About us</h5>
                        <hr />
                        <ul class="alert-light list-unstyled bg-light">
                            <li><a asp-area="" asp-controller="Home" asp-action="About" class="alert-link font-weight-normal">About us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Products</h5>
                        <hr />
                        <ul class="alert-light list-unstyled bg-light">
                            <li><a class="alert-link font-weight-normal" asp-action="Index" asp-controller="Products" asp-route-categoryId=1>Maori Gifts</a></li>
                            <li><a class="alert-link font-weight-normal" asp-action="Index" asp-controller="Products" asp-route-categoryId=2>Mugs</a></li>
                            <li><a class="alert-link font-weight-normal" asp-action="Index" asp-controller="Products" asp-route-categoryId=3>T-Shirts</a></li>
                            <li><a class="alert-link font-weight-normal" asp-action="Index" asp-controller="Products" asp-route-categoryId=4>Home & Living</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Services</h5>
                        <hr />
                        <ul class="alert-light list-unstyled bg-light">
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="alert-link font-weight-normal">Shipping</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="alert-link font-weight-normal">Payment</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="alert-link font-weight-normal">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-center">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-gift" style="font-size:75px;color:black;"></i><br />
                            <img src="~/images/main/title.png" style="width:160px;" />
                        </a>
                        <div style="font-size:25px;">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter-square"></i>
                            <i class="fab fa-weixin"></i>
                            <i class="fab fa-weibo"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">&copy; 2018 - Quality Souvenir</div>
            <div class="text-center">Designer: Zhang Mengxue  |  StudentID: 1505166  |  ISCG7420 Web Application and Development </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
