@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <p class="indicateNav shadow-sm" style="margin:1% 7%;"><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Index"> Home</a> > @ViewData["Title"]</p>

    <section style="width:auto;height:auto;background-color:rgba(234,234,234,0.7);margin:2% 15%;border-radius:5px;padding:30px 1%;">
        <h1 class="text-center">Quality Souvenir</h1>
        <h2 class="text-center font-italic">--Kiwis' favorite gift shop!</h2>
        <div class="card align-item-center">
            <img class="card-img-top rounded img-thumbnail mx-auto" src="~/images/main/aboutpage.jpg" alt="maori history">
            <div class="card-body">
                <p class="card-text text-center">It carries the history and culture of gross profit</p>
            </div>
        </div><br />
        <div class="text-center">
            <h3>Here's the history of Quality Souvenir:</h3>
            <ul style="text-align:left;padding:0 15%;">
                <li><strong>1998</strong> - Leaves his family's farm to attend the University of Minnesota, thanks to a Depression era program known as the "National Youth Administration"</li>
                <li><strong>2004</strong> - Leaves his family's farm to attend the University of Minnesota, thanks to a Depression era program known as the "National Youth Administration"</li>
                <li><strong>2010</strong> - Has to stop school and save up more money. Works in the Civilian Conservation Corps, helping starving Americans. "I saw how food changed them", he said. "All of this left scars on me."</li>
                <li><strong>2015</strong> - Marries wife of 69 years Margret Gibson. Gets laid off due to budget cuts. Inspired by Elvin Charles Stakman, he returns to school study under Stakman, who teaches him about breeding pest-resistent plants.</li>
                <li><strong>2018</strong> - Leaves his family's farm to attend the University of Minnesota, thanks to a Depression era program known as the "National Youth Administration"</li>
            </ul>
        </div>
        <p style="text-align:left;padding:0 20%;font-size:22px;font-weight: 200;">"Borlaug's life and achievement are testimony to the far-reaching contribution that one man's towering intellect, persistence and scientific vision can make to human peace and progress."</p>
        <p style="text-align:right;padding:0 20%" class="font-italic text-muted">--By Mumumua</p>
        <h3 class="text-center">Back to <a class="text-muted" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-gift"></i> home</a> page</h3>
    </section>
</div>