<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualitySouvenir</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    </environment>
    
    <style type="text/css">
        li.nav-item:hover {
            border: 1px solid #818182;
            border-radius: 5px;
        }
        li.nav-item {
            border: 1px solid transparent;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand align-item-center"><i class="fa fa-gift ml-3" style="font-size:50px;"></i></a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand align-item-center"><img src="~/images/main/title.png" class="img-fluid" style="height:75px;" /></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="mr-auto navbar-nav ml-5">
                <li class="nav-item ml-3">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home mr-2"></i>Home</a>
                </li>
                <li class="nav-item ml-3 dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-gift mr-2"></i>Products</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action="Index">All Souvenirs</a>
                        <a class="dropdown-item" href="#">Maori Gifts</a>
                        <a class="dropdown-item" href="#">T-Shirts</a>
                        <a class="dropdown-item" href="#">Mugs</a>
                        <a class="dropdown-item" href="#">Home & Living</a>
                    </div>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About"><i class="fas fa-smile-wink mr-2"></i>About</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-phone mr-2"></i>Contact us</a>
                </li>
                <li class="nav-item ml-3">
                    <a asp-area="" asp-controller="" asp-action="" class="nav-link ml-3"><i class="fas fa-shopping-cart mr-2"></i>Cart</a>
                </li>
                <li class="nav-item ml-3 dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle mr-2"></i>Administrator</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Souvenirs" asp-action="Index">Souvenir</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">Supplier</a>
                        <a class="dropdown-item" href="#">   </a>
                        <a class="dropdown-item" href="#">    </a>
                    </div>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="input-group float-right ml-5" style="width:200px;">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-se" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </nav>
   
    @*body*@
    <div class="container-fuild body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row text-muted">
                    <div class="col-md-3">
                        <h5>About us</h5>
                        <hr />
                        <ul class="alert-light list-unstyled">
                            <li><a href="#" class="alert-link">About us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Products</h5>
                        <hr />
                        <ul class="alert-light list-unstyled">
                            <li><a href="#" class="alert-link">Maori Gifts</a></li>
                            <li><a href="#" class="alert-link">Mugs</a></li>
                            <li><a href="#" class="alert-link">T-Shirts</a></li>
                            <li><a href="#" class="alert-link">Home & Living</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Services</h5>
                        <hr />
                        <ul class="alert-light list-unstyled">
                            <li><a href="#" class="alert-link">Shipping</a></li>
                            <li><a href="#" class="alert-link">Payment</a></li>
                            <li><a href="#" class="alert-link">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-gift" style="font-size:75px;color:black;"></i><br />
                        <img src="~/images/main/title.png" style="width:160px;" />
                    </div>
                </div>
            </div>
            <p class="text-center">&copy; 2018 - Mu</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
