@model QualitySouvenir.Models.Order

@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Edit</h2>

            <h4>Order</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GST" class="control-label"></label>
                    <input asp-for="GST" class="form-control" />
                    <span asp-validation-for="GST" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubTotal" class="control-label"></label>
                    <input asp-for="SubTotal" class="form-control" />
                    <span asp-validation-for="SubTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GrandTotal" class="control-label"></label>
                    <input asp-for="GrandTotal" class="form-control" />
                    <span asp-validation-for="GrandTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="col-md-3"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
