@{
    ViewData["Title"] = "Thanks for Registering!";
}
<h1 class="text-center">@ViewData["Title"].</h1>
<p class="text-center">
    To login please check your inbox(or spam) for a confirmation email.
</p>

